@use 'styles/mixins/index.scss' as *;
@use './normalize.css';
@use './colors';
@use './fonts';
@use './root-variables';
@use './themes/light';

:root {
  color: var(--text-primary);

  // Root resolution: 1280px;
  // Root font size: 16px;
  // 1280 / 100 * x = 16;
  // x = 1.25

  font-size: min(1.25vw, 16px);
  font-family: Montserrat, sans-serif;
  direction: ltr;

  background-color: var(--background);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

html {
  height: 100lvh;

  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  height: 100lvh;

  color: var(--text-primary);
  word-spacing: 0.1em;

  background-color: var(--background-primary);

  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* stylelint-disable-next-line selector-id-pattern */
img {
  overflow-clip-margin: border-box;
}

button {
  margin: 0;
  padding: 0;

  border: none;

  background-color: transparent;

  outline: none;

  cursor: pointer;
}

input,
textarea,
label,
button,
*[role='button'],
select,
a {
  -webkit-tap-highlight-color: transparent;
}

input {
  border-radius: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.rtl {
  direction: rtl;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  white-space: nowrap;

  overflow: hidden;

  clip: rect(1px, 1px, 1px, 1px);
}

.overflow-hidden {
  overflow: hidden;
}
