:root {
  --diff-size: 16;

  // Sizes
  --container-padding: calc(16rem / var(--diff-size)) calc(20rem / var(--diff-size))
    calc(40rem / var(--diff-size));
  --menu-height: calc(57rem / var(--diff-size));

  // Z-indexes
  --header-z-index: 100;
  --portal-z-index: 110;
  --dropdown-z-index: 20;

  // Roundings
  --xxl-rounding: 80px;
  --xl-rounding: 50px;
  --l-rounding: 40px;
  --m-rounding: 24px;
  --m-s-rounding: 16px;
  --s-rounding: 12px;
  --s-xs-rounding: 10px;
  --xs-rounding: 8px;
  --xxs-rounding: 4px;

  // Spacings
  --spacing-base: calc(8rem / var(--diff-size));
  --spacing-x2: calc(16rem / var(--diff-size));
  --spacing-x3: calc(24rem / var(--diff-size));
  --spacing-x4: calc(32rem / var(--diff-size));
  --spacing-x5: calc(40rem / var(--diff-size));
  --spacing-x6: calc(48rem / var(--diff-size));
  --spacing-x7: calc(56rem / var(--diff-size));
  --spacing-x8: calc(64rem / var(--diff-size));
  --spacing-x9: calc(72rem / var(--diff-size));
  --spacing-x10: calc(80rem / var(--diff-size));
  --spacing-x12: calc(96rem / var(--diff-size));
  --spacing-x13: calc(104rem / var(--diff-size));
  --spacing-x14: calc(112rem / var(--diff-size));
  --spacing-x15: calc(120rem / var(--diff-size));
  --spacing-x17: calc(136rem / var(--diff-size));
  --spacing-x18: calc(144rem / var(--diff-size));
  --spacing-x20: calc(160rem / var(--diff-size));
  --spacing-x23: calc(184rem / var(--diff-size));
}
