:root {
  // Primary Colors
  --primary: var(--red);

  // Secondary Colors
  --secondary-first: var(--black);
  --secondary-second: var(--white);

  // Tertiary Colors
  --tertiary-first: var(--grey-1);
  --tertiary-second: var(--grey-2);

  // Text
  --text-primary: var(--black);
  --text-secondary: var(--white);
  --text-tertiary: var(--grey-2);

  // Background
  --background-primary: var(--white);
  --background-secondary: var(--grey-1);
  --background-tertiary: var(--grey-2);
  --background-quaternary: var(--transparent);

  // Overlay
  --overlay-background: rgb(0 0 0 / 80%);

  // Not in design system
  --disabled-size: #d3d3d3;
  --selected-option: rgb(227 30 48 / 20%);
  --hover-option: rgb(227 30 48 / 8%);
  --pressed-option: rgb(227 30 48 / 8%);
  --text-success: #14981d;
  --ton-connect-background: #08c;

  // Pagination
  --pagination-background: rgb(0 0 0 / 25%);
  --pagination-bullet-background: rgb(255 255 255 / 25%);
}
